html, body {
	margin: 0px;
	padding:0px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
div {
	margin:0;
}
img {
	border:0;
}
/*bof css for Shock - Black player*/
.br {
	clear:both;
}
#mediafront_playerWrap {
	padding:50px 0;
}
#mediafront_movieFrame {
	position:relative;
	width:640px;
	height:360px;
	margin:0 auto;
	border:1px solid #333;
	background:#000;
	-moz-box-shadow:0px 10px 20px #666;/*no-important moz*/
	-webkit-box-shadow:0px 10px 20px #666;/*no-important chrome*/
}
/*dummy image for movie*/
#mediafront_movieFrame img#mediafront_movie {
	position: absolute;
	z-index:1;
}
/*---------------------------big play button over the movie---------------------------*/
#mediafront_bigPlay {
	position:absolute;
	width:174px;
	height:174px;
	z-index:2;
	left: 240px;
	top: 73px;
	cursor:pointer;
}

/*---------------------------logo---------------------------*/
#mediafront_logo {
	position:absolute;
	width:70px;
	height:50px;
	bottom:45px;
	left:7px;
	z-index:4;
}
/*---------------------------contol bar bg---------------------------*/
#mediafront_controlerBarWrap {
	background:url(../images/controlerbarBg.png) center 0 repeat-x;
	height:36px; /*total height of bg*/
	padding:0;
	z-index:3;
	position:absolute;
	bottom:5px;
	width:100%;
}
#mediafront_controlerBar {
	padding:0 8px;
}
/*---------------------------playing time---------------------------*/
#mediafront_playtime {
	color:#FFF;
	float:left;
	margin:9px 9px 0 0;
	font-size:12px;
}
/*---------------------------play pause buttons---------------------------*/
#mediafront_play_pause {
	float:left;
	margin:8px 9px 0 0;
	position:relative;
	width:19px;
}
/*play*/
#mediafront_play {
	position:absolute;
	z-index:4;
	left:0;
	top:0;
}
#mediafront_play span {
	display:none;
}
#mediafront_play a {
	display:block;
	background:url(../images/buttonplay.png) no-repeat 0 0;
	height:20px;
	width:19px;
	text-decoration:none;
}
#mediafront_play a:hover {
	background:url(../images/buttonplay.png) no-repeat 0 -20px;
}
/*pause*/
#mediafront_pause {
	position: absolute;
	z-index:5;
	left:0;
	top:0;
}
#mediafront_pause span {
	display:none;
}
#mediafront_pause a {
	display:block;
	background:url(../images/buttonpause.png) no-repeat 0 0;
	height:20px;
	width:19px;
	text-decoration:none;
}
#mediafront_pause a:hover {
	background:url(../images/buttonpause.png) no-repeat 0 -20px;
}
/*---------------------------progress bar---------------------------*/
#mediafront_progressBar {
	background: url(../images/black40.png);
	margin:5px 0 0 0;
	float: left;
	height:27px;
	width:416px;
}
/*-------------------------resize screen buttons---------------------------*/
#mediafront_resizeScreen {
	float:right;
	margin:7px 0 0 9px;
	position:relative;
	width:33px;
}
/*resize to full screen*/
#mediafront_resize_to_fullScreen {
	position:absolute;
	z-index:4;
	left:0;
	top:0;
}
#mediafront_resize_to_fullScreen span {
	display:none;
}
#mediafront_resize_to_fullScreen a {
	display:block;
	background: url(../images/buttonresizescreen.png) no-repeat 0 0;
	height:24px;
	width:33px;
	text-decoration:none;
}
#mediafront_resize_to_fullScreen a:hover {
	background:url(../images/buttonresizescreen.png) no-repeat 0 -24px;
}
/*resize to normal screen*/
#mediafront_resize_to_normalScreen {
	position: absolute;
	z-index:5;
	left:0;
	top:0;
}
#mediafront_resize_to_normalScreen span {
	display:none;
}
#mediafront_resize_to_normalScreen a {
	display:block;
	background:url(../images/buttonresizescreen.png) no-repeat 0 -24px;
	height:24px;
	width:33px;
	text-decoration:none;
}
#mediafront_resize_to_normalScreen a:hover {
	background:url(../images/buttonresizescreen.png) no-repeat 0 0;
}
/*-------------------------info buttons---------------------------*/
#mediafront_information {
	float:right;
	margin:8px 0 0 9px;
}
#mediafront_information span {
	display:none;
}
#mediafront_information a {
	display:block;
	background:url(../images/buttoninfo.png) no-repeat center 0;
	height:22px;
	width:23px;
	text-decoration:none;
}
#mediafront_information a:hover {
	background:url(../images/buttoninfo.png) no-repeat center -22px;
}
/*information box*/
#mediafront_informationbox {
	position:absolute;
	width:300px;
	height:150px;
	z-index:2;
	left: 240px;
	top: 73px;
	cursor:pointer;
}
/*-------------------------audio---------------------------*/
#mediafront_audio {
	float:right;
	margin:8px 0 0 9px;
	position:relative;
}
#mediafront_audio ul {
	margin:0;
	padding:0;
}
#mediafront_audio ul li {
	margin:0;
	padding:0;
	list-style:none;
}
#mediafront_audio ul li a#mediafront_audioButton {
	display:block;
	background: url(../images/buttonsound.png) center 0 no-repeat;
	width:18px;
	height:21px;
	text-decoration:none;
}
#mediafront_audio ul li a#mediafront_audioButton:hover {
	background: url(../images/buttonsound.png) center -21px no-repeat;
}
#mediafront_audio ul li ul#mediafront_audioBarWrap {
	display:none;
}
#mediafront_audio ul li:hover ul#mediafront_audioBarWrap {
	display: block;
}
#mediafront_audioControler {
	position:absolute;
	z-index:7;
	top:-50px;
	left:-4px;
}
#mediafront_audioSlider {
	background:url(../images/audioslidebarbg.png) no-repeat 0 0;
	height:99px;
	width:39px;
	position:absolute;
	z-index:6;
	top:-76px;
	left:-10px;
}
/*-------------------------------playlist-----------------------------*/
#mediafront_playlist {
	background:url(../images/playlistbg.png) repeat-x;
	height:132px;
	width:692px;
	margin:0 auto;
}
#mediafront_playlist_inner {
	padding:5px 0 0 0;
}
/*playlist back / forward buttons*/
#mediafront_back span, #mediafront_forward span {
	display:none;
}
#mediafront_back {
	float:left;
	width:18px;
}
#mediafront_back a {
	background: url(../images/back.png) no-repeat 0 0;
	display:block;
	text-decoration:none;
	width:18px;
	height:122px;
}
#mediafront_back a:hover {
	background: url(../images/back.png) no-repeat 0 -122px;
}
#mediafront_forward {
	float:right;
	width:18px;
}
#mediafront_forward a {
	background:url(../images/forward.png) no-repeat 0 0;
	display:block;
	text-decoration:none;
	width:18px;
	height:122px;
}
#mediafront_forward a:hover {
	background:url(../images/forward.png) no-repeat 0 -122px;
}
/* play list items */
#mediafront_items {
	float:left;
	position:relative;
	width:656px;
	height:122px;
	overflow:hidden;
}
.mediafront_item {
	float:left;
	width:163px;
	border-right:1px solid #6b6b6b;
	position:relative;
}
.mediafront_item05 {
}
#mediafront_item_shadow {
	background:url(../images/playlistshadow.png) repeat-y 0 0;
}
#mediafront_item_title {
	background:url(../images/playlisttitlebg.png) repeat-y 0 0;
	height:30px;
	padding:2px 1px 1px 5px;
	bottom:0;
	left:0;
	width:100%;
	color:#FFF;
	font-size:12px;
	z-index:1;
	position:absolute;
	bottom:0;
}
