/****** Layout ******/
.mediaplayerdialog div, .mediaplayerdialog img, .mediaplayerdialog a, .ui-dialog .ui-dialog-titlebar {
   margin:0;
   padding:0;
   border:0;
}

.mediaplayerdialog {
   padding:2px;	      
   overflow:visible; 
   position:absolute;    
   margin-left:-1000000px;
}

#mediaplayer {
   font-family:"Trebuchet MS", Helvetica, sans-serif;  
   font-style:normal;
   font-size:11px;  
   line-height:110%;
   margin:1px 0 0 0; 
   width:100%;   
}

#mediaplayerloading {
   z-index:0;
   position:absolute;	
}

#medianode {
   margin-right:151px;
}

#mediaplaylist {
   float:right; 
}

#mediaplaylist, #mediascroll, #mediascrollwrapper, #mediapager {
   width:150px;	
}

#mediascrollbarwrapper {
   float:right;
}

#mediascrollbar, #mediascrollbarwrapper {
   width:18px;  
}

#mediascrollhandle {
   position:absolute;
}

#mediascrollhandle span {
   margin-left:1px;	
}

#mediascrollup, #mediascrolldown, #mediascrolltrack, #mediascrollhandle {
   height:18px;
   width:18px;
   border:0;
}

.hmediascrollbarwrapper {
   float:left;
   height:18px;
}

.hmediascrollleft {
   float:left;
}

.hmediascrollbar {
   float:left;
}

.hmediascrollup {
   float:left;
}

.hmediascrolldown {
   float:right;
}

#medialist, #mediaplaypause, #mediamute, #mediamenuclose {
   cursor:pointer;   
}

#medialistmask, #medialist {
   width:132px;        
}

#mediatitlebar, #mediacontrol, #mediapager {
   height:22px;
}

#mediapager {
   position:absolute;	
   margin-top:1px;   
}

#mediacontrol {
   position: absolute;
   z-index:404;
}

#mediatitlelinks {
   float:right;
   z-index:410;
   width:64px;	
}

#mediatitlelinksinner {
   float:right;	
}

#mediatitlelinks a, #mediapager div.mediapagerlink {
   float:left;
   margin:2px 2px 0 0px;   
}

#mediapagerleft {
   float:left;
   margin-left:2px;	
}

#mediapagerright {
   float:right;
   margin-right:2px;	
}

#mediapager div.mediapagerlink {
   margin-top:1px;
}

#medialinks {
   height:25px;
}

#medialink {
   float:left;
   margin: 0 2px 0 0;
   text-align:center;
}

#medialinktext {
   margin: 2px;  
}

#mediaregion {
   position:relative;	
}

#mediadisplay {	
   z-index:400;
   position:absolute;
   background-color:#000;   
}

#mediacontrolleft {
   float:left;
   width:60px;
}

#mediacontrolcenter {
   margin:0 235px 0 60px;
}

#mediacontrolright {
   float:right;
   width:235px;      
}

#mediamute, #mediaplaypause {
   float:left;
   margin:2px 0 0 3px;    
}

#mediavolumebar {
   float:left;
   width:50px;
   padding-top:9px;
   margin:0 5px 0 4px;   	
}

#mediaseekbar {  
   padding-top:9px;	
}

#mediaseekhandle, #mediavolumehandle {
   position:absolute;	
   z-index: 406;
   margin-top:-11px;
   width:0px;
}

#mediaseekhandle span, #mediavolumehandle span {
   margin-left:-6px;
}

#mediaseekupdate, #mediavolumeupdate {
   position:absolute;
   z-index: 405;
   height:4px;;     
}

#mediaseekprogress {
   position:absolute;   
   z-index: 404;
   height:4px; 
}

#mediacurrenttime, #mediatotaltime {
   float:left;  
   text-align:right;
   margin:4px 2px 0 4px;    
   width:30px;
}

#mediamenu {
   position: absolute;
   z-index: 410;
   width:300px;
   height:150px;
   display:none;
   padding:2px;
}

#mediamenuclose {
   float:right;	
   margin:8px 6px 0 0;
}

#mediabusy {
   position: absolute;
   z-index: 403;
   background-image:url('images/mask.png');   
}

#mediabusy img {
   width:32px;
   height:32px;  	
}

#mediaplay {
   position: absolute;
   z-index: 402;
   background-image:url('images/mask.png');   
}

#mediaplay img {
   cursor:pointer;
   width:50px;
   height:57px;   	
}

#mediapreview {
   position: absolute;
   background-color:#000;   
   z-index: 401;
   width:100%; 
}

#mediateaser {
   float:none;
   height:90px;
   width:125px;
   margin:0 1px 2px 0;
   padding:2px;
   cursor:pointer;
}

#mediateaser #mediaimage {	
   width:80px;
   height:60px;
   margin-bottom:1px;
   float:left;
}

#medianodevoter {
   float:left;
   width:110px; 
   margin-top:-3px;
}

#mediavoters .ui-icon {
   width:12px;
   height:12px;  
}

#mediacontrol #mediavoter div, #mediacontrol #mediauservoter div {
   float:left;  
   height:12px;  
   border:0;
   background:none;
   text-decoration: none;
}

#mediateaser #mediavoter {
   margin-left:83px;   
}

#mediateaser #mediatitle {
   clear:left;
   width:120px;
   height:2.2em;
}

#mediateaser #mediavoter div {
   width:14px;
   border:0;   
   background:none;
   text-decoration: none;
}

#mediateaser #mediavoter span {
   height:12px;   
}

#mediauservotertext, #mediavotertext {
   text-align:right;
}

#mediavoterstext {
   float:left;
   line-height:100%;
   margin-top:2px;
}

#mediavoter .ui-state-active, #mediavoter .ui-state-hover, #mediavoter .ui-state-highlight,
#mediauservoter .ui-state-active, #mediauservoter .ui-state-hover, #mediauservoter .ui-state-highlight {
   background:0;
}

#medialogo, #medialogo a, #medialogo a img {
   background-color:transparent;
}  

.ui-icon {
   width:17px;
   height:18px;
}
