
/* base styles */
.media-player {}
.media-player-play, .media-player-volume-button {
  cursor: pointer;
}
.media-player-timer {
  cursor: default;
}

.media-player {
  position: relative;
  background:#000;
  border:1px solid #333;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  -moz-box-shadow:0px 5px 10px #333;/*no-important moz*/
  -webkit-box-shadow:0px 5px 10px #333;/*no-important chrome*/
}

.media-player .media-player-error {
  display:none;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 320px;
  height: 40px;
  line-height: 40px;
  margin: -20px 0 0 -160px;
  text-align: center;
  vertical-align: center;
  border: none;
  z-index:1000;
  color: #fff;
  opacity: 0.9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: rgba(23, 35, 34, 0.9);
  box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
}

.media-player .media-player-display {
  background-color:#000;
  width:100%;
  height:100%;
}

.media-player .media-player-display video {
  width: 100%;
  height: 100%;
}

.media-player .media-player-preview {
  width:100%;
  height:100%;
  position:absolute;
  z-index:1;
}

.media-player .media-player-preview.has-preview {
  background-color: rgb(0, 0, 0);
}

.media-player .media-player-play-loader {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000)";
}

.media-player .media-player-loader {
  width:42px;
  height:10px;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -21px;
  text-align:center;
  vertical-align:center;
  background: url(images/loader.gif) no-repeat;
}

/* Big play button */
.media-player .media-player-play-loader .media-player-big-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  text-align: center;
  vertical-align: center;
  cursor: pointer !important;
  border: none;
  opacity: 0.9;
  z-index:3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: rgba(23, 35, 34, 0.746094);
  box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
}

.media-player .media-player-play-loader .media-player-big-play span {
  margin: 22px 0 0 48px;
  border-left: 36px solid white;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.media-player .media-player-play-loader .media-player-big-play span {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 20px 0 0 23px;
  border-left: 40px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.media-player.fullscreen, .media-player.fullscreen .media-player-display, .media-player.fullscreen .media-player-play-loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index:1000;
  width: 100% !important;
  height: 100% !important;
}

.media-player.fullscreen .media-player-play-loader {
  z-index:1001;
}

.media-player .media-player-controls {
  position: absolute;
  display: block;
  z-index:3;
  bottom:0px;
  left:0px;
  right:0px;
  height:30px;
  background-color:rgba(0,0,0,0.5);
}

.media-player-controls-left {
  float:left;
  width:30px;
  height:26px;
  margin: 2px 0;
  border-right:1px solid #eee;
}

.media-player.fullscreen .media-player-controls-left {
  width:40px;
  border:none;
}

.media-player-controls-right {
  float:right;
  width:120px;
  height:30px;
}

.media-player.fullscreen .media-player-controls-right {
  width:110px;
}

.media-player-controls-mid {
  position:absolute;
  left:40px;
  right:130px;
  height:30px;
}

.media-player.fullscreen .media-player-controls-mid {
  left:50px;
}

.media-player .media-player-play, .media-player .media-player-volume, .media-player .media-player-timer {
  float: left;
}

/* play, pause */
.media-player .media-player-play, .media-player .media-player-pause {
  display: block;
  width: 22px;
  height: 22px;
  margin:2px 0 0 4px;
  opacity: 0.7;
  -moz-transition: all 0.2s ease-in-out; /* Firefox */
  -webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
  -o-transition: all 0.2s ease-in-out;  /* Opera */
  transition: all 0.2s ease-in-out;
}

.media-player .media-player-play:hover, .media-player .media-player-pause:hover {
  opacity: 1;
}

.media-player .media-player-play {
  background: url(images/play-icon.png) no-repeat;
}

.media-player .media-player-pause {
  background: url(images/pause-icon.png) no-repeat;
  display:none;
}

/* seek */
.media-player .media-player-seek {
  position:relative;
  height: 10px;
  margin-top:9px;
  border: 1px solid #494949;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  background: #535353;
  background-image: -moz-linear-gradient(top, #535353, #333333);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #535353),color-stop(1, #333333));
  box-shadow: inset 0 -3px 3px #333333;
}

.media-player .media-player-seek .ui-slider-handle {
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  top: -4px;
  z-index:20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: #e6e6e6;
  background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));
  box-shadow: inset 0 -3px 3px #d5d5d5;
}

.media-player .media-player-seek .ui-slider-handle.ui-state-hover {
  background: #fff;
}

.media-player .media-player-seek .ui-slider-range {
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  z-index:10px;
  border-radius:15px;
  background: #4cbae8;
  background-image: -moz-linear-gradient(top, #4cbae8, #39a2ce);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4cbae8),color-stop(1, #39a2ce));
  box-shadow: inset 0 -3px 3px #39a2ce;
}

.media-player .media-player-progress {
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  z-index:8px;
  width:0px;
  height:10px;
  border-radius:15px;
  background: #266580;
  background-image: -moz-linear-gradient(top, #266580, #153A4A);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #266580),color-stop(1, #153A4A));
  box-shadow: inset 0 -3px 3px #153A4A;
}

/* timer */
.media-player .media-player-timer {
  position:relative;
  height: 22px;
  float:left;
  color: #999;
  padding-top:6px;
  padding-right:6px;
  font-size: 16px;
  font-weight: bold;
  border-right:1px solid #eee;
}

.media-player.fullscreen .media-player-timer {
  border:none;
  margin-top:4px;
}

/* volume */
.media-player .media-player-volume {
  position: absolute;
  right:33px;
  bottom:4px;
  float:right;
  overflow: hidden;
  width: 20px;
  height: 30px;
  color: #fff;
  padding: 0px 10px;
  -moz-transition: all 0.1s ease-in-out; /* Firefox */
  -webkit-transition: all 0.1s ease-in-out; /* Safari and Chrome */
  -o-transition: all 0.2s ease-in-out;  /* Opera */
  transition: all 0.1s ease-in-out;
}

.media-player.fullscreen .media-player-volume {
  right:40px;
  bottom:13px;
}

.media-player .media-player-volume:hover {
  height: 135px;
  padding-top: 5px;
}


.media-player .media-player-volume:hover .media-player-volume-slider {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.media-player .media-player-volume-slider {
  position: relative;
  height: 100px;
  width: 7px;
  left: 4px;
  visiblity: hidden;
  opacity: 0;
  border: 1px solid #444;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  background: #535353;
  background-image: -moz-linear-gradient(top, #535353, #333333);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #535353),color-stop(1, #333333));
  box-shadow: inset 0 3px 3px #333333;
  -moz-transition: all 0.1s ease-in-out; /* Firefox */
  -webkit-transition: all 0.1s ease-in-out; /* Safari and Chrome */
  -o-transition: all 0.1s ease-in-out;  /* Opera */
  transition: all 0.1s ease-in-out;
}

.media-player .media-player-volume-slider .ui-slider-handle {
  width: 12px;
  height: 12px;
  left: -4px;
  margin-bottom:-0.6em;
  margin-left:0;
  border: 1px solid #333;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: #e6e6e6;
  background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));

  box-shadow: inset 0 3px 3px #d5d5d5;
}

.media-player .media-player-volume-slider .ui-slider-handle.ui-state-hover {
  background: #fff;
}

.media-player .media-player-volume-slider .ui-slider-range {
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  background: #e6e6e6;
  background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));
  box-shadow: inset 0 3px 3px #d5d5d5;
}

/* volume button */

.media-player .media-player-volume-button {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 22px;
  height: 22px;
  background: url(images/volume-full-icon.png) no-repeat;
  text-indent: -9999px;
  opacity: 0.8;
}

.media-player .media-player-volume-button:hover {
  opacity: 1;
}

.media-player .media-player-volume-mute {
  background: url(images/volume-mute-icon.png) no-repeat;
}

/* Fullscreen button */
.media-player .media-player-fullscreen {
  position: absolute;
  right:6px;
  bottom:7px;
  width: 22px;
  height: 14px;
  border:1px solid #aaa;
}

.media-player.fullscreen .media-player-fullscreen {
  right:14px;
  bottom:16px;
}

.media-player .media-player-fullscreen-inner, .media-player.fullscreen .media-player-fullscreen:hover .media-player-fullscreen-inner {
  position:absolute;
  bottom:0;
  width:16px;
  height:8px;
  background-color:#aaa;
  -moz-transition: all 0.1s ease-in-out; /* Firefox */
  -webkit-transition: all 0.1s ease-in-out; /* Safari and Chrome */
  -o-transition: all 0.1s ease-in-out;  /* Opera */
  transition: all 0.1s ease-in-out;
}

.media-player .media-player-fullscreen:hover .media-player-fullscreen-inner, .media-player.fullscreen .media-player-fullscreen-inner {
  width:20px;
  height:12px;
}

.media-player.fullscreen .media-player-controls {
  position: absolute;
  z-index:1002;
  width:500px;
  left: 50%;
  bottom:10px;
  margin: 0 0 0 -260px;
  padding: 10px;
  border: 1px solid #2E2E2E;
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3+, Chrome */
  border-radius: 5px; /* Opera 10.5, IE 9 */
  background: #000000;
  background-image: -moz-linear-gradient(top, #313131, #000000); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #313131),color-stop(1, #000000)); /* Saf4+, Chrome */
  box-shadow: inset 0 15px 35px #535353;
  -moz-transition: all 0.1s ease-in-out; /* Firefox */
  -webkit-transition: all 0.1s ease-in-out; /* Safari and Chrome */
  -o-transition: all 0.1s ease-in-out;  /* Opera */
  transition: all 0.1s ease-in-out;
}


/* needed jquery ui styles
 * using these, we don't depend on jQuery UI's stylsheet
*/
.ui-slider-handle {
  position: absolute;
  z-index: 4;
  display: block;
  margin-left:-0.6em;
  cursor: default;
  outline: none;
}

.ui-slider-range {
  display:block;
  width:100%;
  height:100%;
  left:0;
  bottom: 0;
  border:0 none;
  position:absolute;
  z-index:3;
}
