<html>
   <head>
      <title>Open Standard Media (OSM) Player: Template Development</title>
      <script type="text/javascript" src="../../jquery-ui/js/jquery.js"></script>
      <script type="text/javascript" src="../../js/source/jquery.media.drupal.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.parser.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.auto.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.rpc.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.json.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.sha256.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.utils.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.control.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.flash.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.html5.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.image.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.link.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.links.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.display.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.minplayer.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.menu.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.node.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.pager.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.player.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.playlist.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.playlistlink.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.rotator.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.slider.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.teaser.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.titlebar.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.scroll.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.voter.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.youtube.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.vimeo.js"></script>
<script type="text/javascript" src="../../js/source/jquery.media.dailymotion.js"></script>
<script type="text/javascript" src="../../templates/simpleblack/jquery.media.template.simpleblack.js"></script>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
   </head>
   <body>
      <h2>Open Standard Media (OSM) Player</h2><br/>
      <script type="text/javascript">jQuery(document).ready(function() {var player = jQuery("#player").mediaplayer({template:"simpleblack",playlist:"playlist.xml",debug:true});jQuery("#player_loading").hide();});</script>

Warning: include(templates/simpleblack/osmplayer_simpleblack.tpl.php): failed to open stream: No such file or directory in /Applications/MAMP/htdocs/drupal6/sites/all/modules/mediafront/players/osmplayer/player/OSMTemplate.php on line 63

Warning: include(): Failed opening 'templates/simpleblack/osmplayer_simpleblack.tpl.php' for inclusion (include_path='.:') in /Applications/MAMP/htdocs/drupal6/sites/all/modules/mediafront/players/osmplayer/player/OSMTemplate.php on line 63
   </body>
</html>