<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--bof Mediafront player-->
<div id="mediafront_playerWrap">
  <div id="mediafront_movieFrame">
    <!--bof big play button-->
    <div id="mediafront_bigPlay"><img src="images/mediafront_bigplay.png" width="174" height="174" /></div>
    <!--eof big play button-->
    <!--bof logo-->
    <div id="mediafront_logo"><img src="images/mediafront_logo.png" width="69" height="50" /></div>
    <!--eof logo-->
    <!--bof information box-->
    <div id="mediafront_informationbox">
      <!--bof infomation box top menus-->
      <div id="mediafront_infoboxTopMenuWrap">
        <ul id="mediafront_infoboxTopMenu">
          <li class="active"><a href="#">embed</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">info</a></li>
          <li id="mediafront_inforboxClose"><img src="images/mediafront_close.png" alt="X" /></li>
        </ul>
        <div class="br"><!----></div>
      </div>
      <!--eof infomation box top menus-->
      <!--bof infomation box info-->
      <div id="mediafront_infoboxDetail">OOOOOOOOOO</div>
      <!--eof infomation box info-->
    </div>
    <!--eof information box-->
    <!--bof controler bar-->
    <div id="mediafront_controlerBarWrap">
      <div id="mediafront_controlerBar">
        <!--bof play time-->
        <div id="mediafront_playtime">00:00 / 00:00</div>
        <!--eof play time-->
        <!--bof play pause buttons-->
        <div id="mediafront_play_pause">
          <div id="mediafront_play"><a href="#"><span>play</span></a></div>
          <div id="mediafront_pause"><a href="#"><span>pause</span></a></div>
        </div>
        <!--bof play pause buttons-->
        <!--bof progress bar-->
        <div id="mediafront_progressBar">
          <div id="mediafront_progressBar_controler"><a href="#"><img src="images/mediafront_buttoncontroler.png" width="8" height="27" /></a></div>
        </div>
        <!--eof progress bar-->
        <!--bof resize screen-->
        <div id="mediafront_resizeScreen">
          <div id="mediafront_resize_to_fullScreen"><a href="#"><span>make full screen</span></a></div>
          <div id="mediafront_resize_to_normalScreen"><a href="#"><span>make normal screen</span></a></div>
        </div>
        <!--eof resize screen-->
        <!--bof information button-->
        <div id="mediafront_information"><a href="#"><span>information</span></a></div>
        <!--eof information button-->
        <!--bof audio-->
        <div id="mediafront_audio">
          <ul>
            <li><a href="#" id="mediafront_audioButton">&nbsp;</a>
              <ul id="mediafront_audioBarWrap">
                <li>
                  <div id="mediafront_audioControler"><a href="#"><img src="images/mediafront_buttonaudioslidebar.png" width="27" height="8" /></a></div>
                  <div id="mediafront_audioSlider">&nbsp;</div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!--eof audio-->
      </div>
    </div>
    <!--eof controler bar-->
    <img src="images/mediafront_movie640x360.png" id="mediafront_movie"/>
    <div class="br"><!----></div>
  </div>
</div>
<!--eof Mediafront player-->
<!--bof Mediafront Play list-->
<div id="mediafront_playlist">
  <div id="mediafront_playlist_inner">
    <!--bof back button-->
    <div id="mediafront_back"><a href="#"><span>back</span></a></div>
    <!--eof back button-->
    <!--bof movie lists-->
    <div id="mediafront_items">
      <!--bof movie-->
      <div class="mediafront_item" id="mediafront_item01"> <a href="#">
        <div id="mediafront_item_shadow">
          <div id="mediafront_item_title">The Machinist</div>
          <img src="images/mediafront_moviethumb.png" width="163" height="122" /> </div>
        </a> </div>
      <!--eof movie-->
      <!--bof movie-->
      <div class="mediafront_item" id="mediafront_item02"> <a href="#">
        <div id="mediafront_item_shadow">
          <div id="mediafront_item_title">The Machinist</div>
          <img src="images/mediafront_moviethumb.png" width="163" height="122" /> </div>
        </a> </div>
      <!--eof movie-->
      <!--bof movie-->
      <div class="mediafront_item id="mediafront_item03""> <a href="#">
        <div id="mediafront_item_shadow">
          <div id="mediafront_item_title">The Machinist</div>
          <img src="images/mediafront_moviethumb.png" width="163" height="122" /> </div>
        </a> </div>
      <!--eof movie-->
      <!--bof movie-->
      <div class="mediafront_item" id="mediafront_item04"> <a href="#">
        <div id="mediafront_item_shadow">
          <div id="mediafront_item_title">The Machinist</div>
          <img src="images/mediafront_moviethumb.png" width="163" height="122" /> </div>
        </a> </div>
      <!--eof movie-->
      <!--bof movie-->
      <div class="mediafront_item" id="mediafront_item05"> <a href="#">
        <div id="mediafront_item_shadow">
          <div id="mediafront_item_title">The Machinist</div>
          <img src="images/mediafront_moviethumb.png" width="163" height="122" /> </div>
        </a> </div>
      <!--eof movie-->
      <div class="br"><!----></div>
    </div>
    <!--eof movie lists-->
    <!--bof forward button-->
    <div id="mediafront_forward"><a href="#"><span>forward</span></a></div>
    <!--eof forward button-->
    <div class="br"><!----></div>
  </div>
</div>
<!--bof Mediafront Play list-->
</body>
</html>
